.error {
    color: orangered;
}

.homeNav {
    font-size: large;
}

.registerFields {
    font-size: large;
}

.registerFields input {
    font-size: large;
}



#logo {
    width: 30px;
    height: 30px;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.row.content {height: 450px}

.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

footer {
    background-color: #555;
    color: white;
    padding: 15px;
}


body,html{
    height:100%;
}
.container-fluid {
    min-height:83%;
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}
}