<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spittles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link href="/resources/css/bootstrap.min.css" rel="stylesheet"/>-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
          th:href="@{/resources/css/style.css}"/>
    <script src="webjars/jquery/3.1.1-1/jquery.min.js"></script>
    <script src="/resources/js/bootstrap.min.js"></script>
</head>
<body>
<div th:include="page :: navfragment"></div>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-8 text-left">
            <h1>Register</h1>

            <form class="col-sm-4" method="POST" th:object="${spitterForm}" enctype="multipart/form-data">
                <div class="error" th:if="${#fields.hasErrors('*')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('*')}"
                            th:text="${err}">Input is incorrect
                        </li>
                    </ul>
                </div>
                <div class="form-group br">
                    <label for="firstName" th:class="${#fields.hasErrors('firstName')}? 'error'">First Name</label>:
                    <input id="firstName" type="text" th:field="*{firstName}" class="form-control" placeholder="Enter your first name here"/>
                </div>
                <div class="form-group">
                    <label for="lastName" th:class="${#fields.hasErrors('lastName')}? 'error'">Last Name</label>:
                    <input id="lastName" type="text" th:field="*{lastName}" class="form-control" placeholder="Enter your last name here"/>
                </div>
                <div class="form-group">
                    <label th:class="${#fields.hasErrors('email')}? 'error'">Email</label>:
                    <input id="email" type="email" th:field="*{email}" class="form-control" placeholder="Enter your email here"/>
                </div>
                <div class="form-group">
                    <label th:class="${#fields.hasErrors('username')}? 'error'">Username</label>:
                    <input id="username" type="text" th:field="*{username}" class="form-control" placeholder="Enter your username here"/>
                </div>
                <div class="form-group">
                    <label th:class="${#fields.hasErrors('password')}? 'error'">Password</label>:
                    <input id="password" type="password" th:field="*{password}" class="form-control"placeholder="Enter your password here"/>
                </div>
                <label>Profile Picture</label>:
                <input type="file"
                       name="profilePicture"
                       accept="image/jpeg,image/png,image/gif"/><br/>

                <input class="btn btn-primary btn-md register-btn" type="submit" value="Register"/>
            </form>
        </div>
    </div>
</div>


<div th:include="page :: footfragment"></div>
</body>
</html>