<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spittr</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/resources/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/resources/css/style.css}"/>
    <script src="webjars/jquery/3.1.1-1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div th:include="page :: navfragment"></div>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 text-left">
            <br/>
            <div class="list-group">
                <div th:each="sp : ${spitters}">
                    <a class="list-group-item" th:href="@{/spitter/__${sp.username}__}">
                        <span th:text="${sp.username}">item</span>
                        <img th:src="@{/spitter/__${sp.username}__/profilePicture}" width="35" height="35"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:include="page :: footfragment">
</div>
</body>
</html>