<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spittr</title>
    <link rel="stylesheet" type="text/css"
          th:href="@{/resources/style.css}"/>
</head>
<body>
<h1>Spittles</h1>
<ul>
    <li th:each="spittle : ${spittleList}">
        <span th:text="${spittle.message}">message</span> <br/>
        <span th:text="${spittle.time}">time</span>
        (<span th:text="${spittle.latitude}">0.0</span>,
        <span th:text="${spittle.longitude}">0.0</span>)
    </li>
</ul>
</body>
</html>