<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spittles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="webjars/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/resources/css/style.css}"/>
    <script src="webjars/jquery/3.1.1-1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div th:include="page :: navfragment"></div>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-8 text-left">
            <h1>Spittles</h1>
            <ul>
                <li th:each="spittle : ${spittleList}">
                    <span th:text="${spittle.message}">message</span> <br/>
                    <span th:text="${spittle.time}">time</span>
                    (<span th:text="${spittle.latitude}">0.0</span>,
                    <span th:text="${spittle.longitude}">0.0</span>)
                </li>
            </ul>
        </div>
    </div>
</div>

<div th:include="page :: footfragment"></div>

</body>
</html>